.container {
  .top {
    display: flex;
    height: 160rpx;
    align-items: center;
    justify-content: space-between;
    padding-left: 40rpx;
    background-color: $uni-bg-color-hover;
    .message {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .m_right {
        margin-left: 10rpx;
      }
      .message_name {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10rpx;
      }
      .message_identity {
        font-size: $uni-font-size-base;
      }
    }
    .change-identity {
      display: flex;
      align-items: center;
      margin-right: 50rpx;
      font-size: $uni-font-size-lg;
      .text {
        margin-left: 5rpx;
      }
      &:active {
        background-color: $uni-bg-color-hover;
      }
    }
  }
  ::v-deep .divider .u-divider {
    margin: 0;
  }
  .content {
    &_every {
      &:active {
        background-color: $uni-bg-color-hover;
      }
    }
    .feature {
      display: flex;
      // height: 80rpx;
      align-items: center;
      justify-content: space-between;
      margin: 0 40rpx;
      padding: 10px 0;
      .left {
        display: flex;
        align-items: center;
      }
      &_logo {
        margin-right: 15rpx;
      }
      &_name {
        font-size: $uni-font-size-lg;
        font-weight: bold;
      }
    }
    ::v-deep .line {
      .u-line {
        margin: 0 !important;
      }
    }
  }
}
.f-bold {
  font-weight: bold;
}
.profit-loss {
  display: flex;
  font-weight: bold;
  align-items: center;
  flex-direction: column;
  font-size: 15px;
  color: #fff;
  background-color: $u-info-disabled;
  .flex {
    justify-content: space-around;
    width: 100%;
  }
}
